---
import { slugify } from "@renovamen/utils";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import {
  getPostDate,
  getPosts,
  getPostsByTag,
  getSortedPostsByYear,
  getTags,
  formatDate
} from "@utils";

const lang = "zh";

const title = "胡思乱想";
const allURL = `/recent/`;
const tagURL = `recent/tags/`;

const posts = await getPosts(lang);
const { tags, numPostsPerTag } = getTags(posts);
const sortedPostsByYear = getSortedPostsByYear(posts); // 直接使用 posts，不再根据 tag 过滤
---

<Layout title={`${title} - ${SITE.title}`} activePage={"recent"}>
  <h1>{title}</h1>

  <span class="mr-1.5 -space-x-0.5 text-fg-light">
    <span class="i-uil:tag-alt size-4"></span>
    <a href={allURL} class={`!nav-item !nav-active`}>全部</a> {/* 默认选中“全部” */}
    <sup>{numPostsPerTag["all"]}</sup>
  </span>

  {
    tags.map((t) => (
      <span class="mr-1.5 -space-x-0.5 text-fg-light">
        <span class="i-uil:tag-alt size-4" />
        <a href={tagURL + slugify(t)} class={`!nav-item`}>{t}</a> {/* 移除 tag 的 active class 判断 */}
        <sup>{numPostsPerTag[t]}</sup>
      </span>
    ))
  }

  {
    Object.keys(sortedPostsByYear)
      .sort((a, b) => b.localeCompare(a))
      .map((year) => (
        <div>
          <h3>{year}</h3>
          {sortedPostsByYear[year].map((item) => (
            <div flex items-start m="y-1 x-0.5">
              <div class="w-14 h-6 leading-6 mr-2" text="fg-light sm">
                {formatDate(getPostDate(item.id), 1)}
              </div>
              <a
                class="flex-1 !text-fg underline-offset-4"
                href={`/recent/${item.id.replace(/^zh\//, "")}`} // 移除语言前缀
                transition:name={item.id}
              >
                {item.data.title}
              </a>
            </div>
          ))}
        </div>
      ))
  }
</Layout>